.detail{
	float:right;
	vertical-align: top;
	color:black;
	width:89%;
	height:100vh;
	padding-top: 8vh;
	box-sizing: border-box;
	overflow-wrap: normal;
	font-weight:500;
}


#this_button_d{
	margin-top:4%;
	display:block;
	margin-left: -25%;
}

#form_buttona{

	font-size: 1em;
	border: none;
	background-color: #6DD56B;
	color:white;
	border-radius: 20px;
	line-height: 34px;
	margin-top:6%;
	width:32%;
	margin-left:28.4%;
}

#form_buttona:hover{

	font-size: 1em;
	border: none;
	background-color: #6DD56B;
	color:white;
	border-radius: 20px;
	line-height: 34px;
	margin-top:6%;
	width:32%;
	margin-left:28.4%;
	cursor:pointer;
}



#form_descr_reg{
	background-color: #EEEEEE;
	border: none;
	background-position: 1% 1%; 
	padding-left:30px;
	border-radius: 20px;
	line-height: 34px;
	font-size: 1em;
	width:40%;
	margin-top: 10%;
	margin-left: 23.5%;

}